<h2>Article</h2>
<form action="/submit" method="POST">
    <input name="title" type="text" class="post-input" placeholder="Title" />
    <textarea name="content" class="post-input" placeholder="Details"></textarea>
    <input type="submit" value="SUBMIT" />
  </form>