body {
    font-size: 1rem;
}
header > a > span {
    color: #F4EDD5;
}

.nav-link {
    color: #FCC208;
}

.nav-link:hover {
    color: #F4EDD5;
    cursor: pointer;
}
.nav {
    --bs-nav-link-hover-color: #FCC208;
}
.nav-pills > .nav-item > a.active {
    color: #F4EDD5;
    background-color: transparent;
    /* border-bottom: solid #F4EDD5 2px; */
}
.lead {
    color: #F4EDD5;
}
.btn-light {
    background-color: #FCC208;
    border: none;
} 

/* posts */
.list-group {
    text-align: left;
    width: 70%;
}
.list-group > ul {
    list-style: none;
}
.list-group-item {
    background-color: transparent;
    color:  #F4EDD5;
    border: solid #495057 1px;
    margin-top: -1px;
}
.list-group-item:hover {
    background-color: #3b3f44;
    opacity: 80%;
    color: #F4EDD5;
}
.list-group-item p {
    font-size: 0.9rem;
}
small {
    font-size: 0.9rem;
}