
header > a > span {
    color: #F4EDD5;
}

.nav-link {
    color: #FCC208;
}

.nav-link:hover {
    color: #F4EDD5;
    cursor: pointer;
}
.nav {
    --bs-nav-link-hover-color: #FCC208;
}
.nav-pills > .nav-item > a.active {
    color: #F4EDD5;
    background-color: transparent;
    /* border-bottom: solid #F4EDD5 2px; */
}
.lead {
    color: #F4EDD5;
}
.btn-light {
    background-color: #FCC208;
    border: none;
}